@use '../../color';

/* CND: Edit di layouts/Auth.scss aja mostly sama sign up & sign in
.sign-up-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: color.$white;
  border: 1px solid red;

  form {
    display: flex;
    flex-direction: column;
  }
}
*/
